/*universal*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

html, body {
    height: 100%;
}

/*global*/

.text-center {
    text-align: center;
}

/*custom styles*/

body {
    background-color: rgb(204, 0, 255);
}

.top-bar {
    background-color: rgb(255,0,128);
    padding: 15px 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head1 {
    color: #39FF14;
    font-size: 25px;
}

.top-bar a {
    color: rgb(250,237,39);
    margin-left: 15px;
    text-decoration: none; 
    font-size: 15px;
}

section .main-box {
    display: flex;
    margin: 3%;
    align-items: center;
}

.left-section {
    flex: 1;
    align-items: center;
    color: #39FF14;
}

.right-section {
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    margin-top: 4%;
    flex: 3 0 33%;
    display: flex;
    border-style: solid;
    border-width: 1px;
    color: rgb(250,237,39);
}

.right-section .main-work img {
    width: 100%;
    min-width: 250px;
}

@media (max-width: 750px) {
    .head1 {
        font-size: 75%;
    }
    .top-bar a {
        font-size: 75%;
    }
}