/*universal*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

html, body {
    height: 100%;
}

/*global*/

.text-center {
    text-align: center;
}

/*custom styles*/

body {
    background-color: rgb(91,43,130);
}

.top-bar {
    background-color: rgb(99,113,122);
    padding: 15px 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head1 {
    color: rgb(6,25,34);
    font-size: 25px;
}

.top-bar a {
    color: rgb(6,25,34);
    margin-left: 15px;
    text-decoration: none; 
    font-size: 15px;
}

section .main-box {
    display: flex;
    margin: 3%;
    align-items: center;
}

.left-section {
    flex: 1;
    align-items: center;
    color: rgb(6,25,34);
}

.right-section {
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    margin: 4%;
    flex: 3 0 33%;
    display: flex;
    border-style: solid;
    border-width: 1px;
    color: rgb(6,25,34);
}

.main-work {
    text-decoration: none;
    color:rgb(6,25,34);
    border: 1px;
    border-style: solid;
    margin: 2%;
}

.right-section .main-work img {
    width: 100%;
    min-width: 250px;
}

.child1 {
    width: max-content;
}

.main-work:hover {
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.295);
}

.contact-info {
    text-decoration: none;
    color:rgb(6,25,34)
}

@media (max-width: 768px) {
    header, section {
        flex-direction: column;
        justify-content: center;
    }
    
    .head1 {
        font-size: 75%;
    }
    .top-bar a {
        font-size: 75%;
    }
}